{% extends "catalog/page.html" %}

{% load filters %}

{% block title %}{{options.title}}{% endblock %}

{% block content %}

<h3>{{options.title}}</h3>
<hr>

<table>
  <thead>
    <tr>
      {% for field in fields %}
        <td>{{field|title}}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for value in values %}
      <tr>
        {% for field in fields %}
          <td>
            {% if field == options.primary %}
              <a href="{% url options.detail value|attr:field %}">{{value|attr:field}}</a>
            {% else %}
              {{value|attr:field}}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
